/************* General Style *************/
* {
  margin: 0;
  padding: 0;
  /* font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif; */
}
.container {
  width: 1100px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff2f2;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

/************* Header Section *************/
.header-banner {
  width: 1100px;
  height: 500px;
  margin: 50px auto 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url("../images/Banner-Image-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text {
  text-align: center;
}
.header-text h2 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.header-text h1 {
  font-family: "Merriweather", serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px;
}
/************* Main Section *************/
/************* OFF Section *************/
.off-section {
  text-align: center;
  margin: 100px 0;
}
.off-section h2 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.off-section h5 {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 30px 0 10px;
}
.off-section h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}
.off-section img {
  width: 600px;
  height: auto;
}

/************* Welcome Section *************/
.welcome-section {
  height: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url("../images/Vectorrr-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.welcome-text {
  width: 55%;
}
.welcome-text h2 {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px; /* 137.5% */
  letter-spacing: 7.04px;
}
.welcome-text p {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 20px 0 50px;
}
.welcome-text a {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 5px;
}
.welcome-text a:hover {
  background: #f00;
  border: 1px solid #f00;
  transition: 0.2s;
}
.welcome-img {
  width: 25%;
}
.welcome-img img {
  width: 270px;
}

/************* Join Section *************/
.join-section {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #ffc0cb,
    #fcd0e2,
    #f8e1f3,
    #f8f1fc,
    #ffffff
  );
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 100px;
}
.join-section h2 span {
  color: #f00;
}
.join-section h2 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.join-section a {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  text-decoration: none;
  margin-top: 40px;
  border: 1px solid transparent;
}
.join-section a:hover {
  border: 1px solid #f00;
  background: transparent;
  color: #f00;
  transition: 0.3s;
}
/************* Comming Section *************/

.comming-section {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.comming-img {
  width: 30%;
}
.comming-text1 {
  width: 30%;
}
.comming-text2 {
  width: 25%;
}
.comming-img img {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 10px solid #f00;
  border-radius: 100%;
  box-sizing: border-box;
}
.comming-text1 h5 {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.comming-text1 h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 10px 0 30px;
}
.comming-text1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.comming-text2 h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comming-text2 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin: 10px 0 30px;
}

/************* Holidays Section *************/
.holidays-section {
  margin-bottom: 100px;
}
.holidays-section h5 {
  color: #070211;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.holidays-section h2 span {
  color: #f00;
}
.holidays-section h2 {
  text-align: center;
  color: #070211;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 10px 0 30px;
}
.holidays-section p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  margin-bottom: 50px;
}
.holi-boxs {
  display: flex;
  justify-content: space-between;
}

.holi-box2 {
  position: relative;
}
.holi-box2 .h-img1 {
  width: 350px;
  margin-bottom: -4px;
}
.holi-box2 .h-img2 {
  position: absolute;
  left: -129px;
  top: 52px;
  width: 251px;
}
.holi-box1 {
  position: relative;
}
.holi-box1 img {
  position: absolute;
  top: 24%;
  left: 109px;
  width: 500px;
}
.red-color img {
  box-sizing: border-box;
  width: 100%;
}
/************* Portfolio Section *************/
.portfolio-section {
  margin-bottom: 100px;
}
.portfolio-text h5 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.portfolio-text h2 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 10px;
}
.portfolio-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 18x;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 10px 0 40px;
}
.portfolio-boxs {
  display: flex;
  justify-content: space-between;
}
.portfolio-boxs:nth-child(3) {
  margin-top: 10px;
}
.port-box {
  width: 32.5%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}
.port-box:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.port-box img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

/************* Subscribe Section *************/
.subscribe-section {
  background: rgba(255, 0, 0, 0.05);
  border-radius: 20px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.sub-text {
  text-align: center;
}
.sub-text img {
  width: 130px;
  flex-shrink: 0;
}
.sub-text h2 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 30px;
}
.sub-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin: 10px 0 40px;
}
.input-group {
  display: flex;
  justify-content: center;
}
.sub-text input[type="submit"] {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  width: 210px;
  height: 65px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  cursor: pointer;
  margin-left: -4px;
  transition: 0.3s;
  border: 1px solid transparent;
}
.sub-text input[type="submit"]:hover {
  color: #f00;
  background: white;
  border: 1px solid #f00;
}
.sub-text input[type="email"] {
  color: rgba(7, 2, 17, 0.3);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 300px;
  height: 65px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border: none;
  padding: 0 30px;
}
.sub-text input[type="email"]:focus {
  border: 2px solid red !important;
  box-shadow: none !important;
}

/************* Footer Section *************/
footer {
  background: #070211;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #fff;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
/* phone & address */
.f-address {
  display: flex;
  justify-content: space-between;
}
.phone p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone p img {
  margin-right: 10px;
}

/* social */
.f-social img {
  width: 50px;
  height: 50px;
}
.f-social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 30px 0;
}
.f-social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.f-social ul li {
  margin: 0 15px;
}
/* copy right */
.copy-right {
  display: flex;
  justify-content: space-between;
}
.copy-right p a {
  color: #fff;
  text-decoration: none;
}
